@if(productResults$ | async; as resultProduct) {
<div
  style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px"
>
  <input
    type="text"
    id="filter"
    placeholder="Filtrar..."
    (input)="applyFilter($event)"
    style="flex: 1; margin-right: 10px"
  />
  <button (click)="addNewItem()">Agregar</button>
</div>
<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @if(resultProduct.data.length === 0){
    <tr>
      <td colspan="6" style="text-align: center; padding: 20px">No existen productos.</td>
    </tr>
    } @for(product of displayedData; track product){
    <tr>
      <td><img [src]="product.logo" alt="Logo" width="50" /></td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release }}</td>
      <td>{{ product.date_revision }}</td>
      <td>
        <div class="dropdown">
          <button class="dropbtn">Acciones</button>
          <div class="dropdown-content">
            <!-- <a href="#" (click)="editItem(row.id)">Editar</a> -->
            <a class="" [routerLink]="['/edit-product', product.id]">Editar</a>
            <a href="#" (click)="deleteItem(product)">Eliminar</a>
          </div>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px">
  <div>
    <p>Total de productos: {{ resultProduct.data.length }}</p>
  </div>
  <div style="display: flex; align-items: center">
    <label for="itemsPerPage" style="margin-right: 10px">Mostrar</label>
    <select id="itemsPerPage" (change)="changeItemsPerPage($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>
} @if (errorMessage) {
<app-error-message [errorMessage]="errorMessage" />
}

<app-product-delete-modal></app-product-delete-modal>
