.error-container {
  text-align: center;
  margin-top: 50px;
}

.error-container h1 {
  font-size: 2em;
  color: #ff0000;
}

.error-container p {
  font-size: 1.2em;
}

.error-container a {
  color: #007bff;
  text-decoration: none;
}

.error-container a:hover {
  text-decoration: underline;
}
